* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;

    & app {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        & .DiagInfo,
        & .DiagDebug {
            position: fixed;
            font-family: 'Roboto';
            color: #fff;
            size: 14px;

            &.DiagInfo {
                top: 10px;
                left: 10px;

                & > a {
                    font-weight: bold;
                    color: #ccc;
                    text-decoration: none;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            &.DiagDebug {
                bottom: 10px;
                left: 10px;
            }
        }
    }
}
